<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="shortcut icon" href="#">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
        <link rel="stylesheet" src="/styles/resets.css">
        <link rel="stylesheet" src="/styles/base.css">
        <link rel="stylesheet" src="/styles/input.css">
        <link rel="stylesheet" src="/styles/header.css">
        <link rel="stylesheet" src="/styles/input.css">
        <link rel="stylesheet" src="/styles/output.css">
        <link rel="stylesheet" src="/styles/footer.css">
    </head>

    <body>
        <header>
            <div class="title">
                Trip Planner
            </div>
        </header>

           <section id="photo">
                <figure class="destination-image">
                    <img src="https://via.placeholder.com/150"
                    alt="" />
                </figure>
            </section>

                <section id="input">
                <div class="destination-input">
                    <div class="text-form"
                    <label for="destination"></label>
                    <input type="text" id="destination" placeholder="Enter City and State or City and Country">
                </div>
                  
                  <div class="departing">
                  <label for="depart">Departing:</label>
                    <input type="date" id="depart" name="trip-depart"
                        
                        min="2021-02-16" max="2024-12-31">
                  </div>

                  <button id="submit" type = "submit"> Submit </button>
            </section>

            <section id="output">
                <p> output</p>
                <div id="results"><br>
                    <div id = "trip"></div><br>
                    <div id = "weather"></div><br>
                    <div id = "countdown"></div><br>
                </div>
            </section>

        <footer>
            <p>Jessie K 2021</p>
        </footer>

    </body>
</html>