$backgroundColor: #EBF5EE;
$headerColor: #3B3561;
$focusBackground: #FFFFFC;

$emphasisFont:'Abril Fatface', Cursive;
$mainFont:'Poppins', Sans-Serif;


body{
    background-color: $backgroundColor;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "head head head" 
        "ph in in" 
        "out out out" 
        "foot foot foot";
    align-items: stretch;
    justify-items: stretch;
    justify-content: space-evenly;
    row-gap: 20px;
    font-family: $mainFont;
}

header{
    grid-area: head;
}

#image-holder{
    grid-area: ph;
}

#input{
    grid-area: in;
}

#output{
    grid-area: out;
}

footer{
    grid-area: foot;
}


