@import "base.scss";

#image-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
#input{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.departing{
    padding-top: 10px;
    padding-bottom: 10px;
}