@import "base.scss";

#photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.departing{
    padding-top: 10px;
    padding-bottom: 10px;
}